<p>Teclado da calculadora</p>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <form>
                <input type="text" [(ngModel)]="resultado" class="form-control" readonly="readonly" value="{{ resultado }}">
                <div class="form-group">
                    <label>{{ resultado }}</label> <!-- Interpolação para exibir o valor -->
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3 d-grid">
            <button type="button" (click)="clicar('7')" class="btn btn-secondary btn-lg">7</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button" (click)="clicar('8')" class="btn btn-secondary btn-lg">8</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button" (click)="clicar('9')" class="btn btn-secondary btn-lg">9</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button" (click)="clicar('/')" class="btn btn-dark btn-lg">/</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3 d-grid">
            <button type="button" (click)="clicar('4')" class="btn btn-secondary btn-lg">4</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button" (click)="clicar('5')" class="btn btn-secondary btn-lg">5</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button" (click)="clicar('6')" class="btn btn-secondary btn-lg">6</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button" (click)="clicar('*')" class="btn btn-dark btn-lg">*</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3 d-grid">
            <button type="button" (click)="clicar('1')" class="btn btn-secondary btn-lg">1</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button" (click)="clicar('2')" class="btn btn-secondary btn-lg">2</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button" (click)="clicar('3')" class="btn btn-secondary btn-lg">3</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button" (click)="clicar('-')" class="btn btn-dark btn-lg">-</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3 d-grid">
            <button type="button" (click)="limpar()" class="btn btn-danger btn-lg">CE</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button" (click)="clicar('0')" class="btn btn-secondary btn-lg">0</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button" (click)="finalizar()" class="btn btn-success btn-lg">=</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button" (click)="clicar('+')" class="btn btn-dark btn-lg">+</button>
        </div>
    </div>
</div>

<br>
<br>
<br>

